@import './colors.css';
body {
  margin: 0;
  font-family: Helvetica;
  user-select: none;
  height: 100vh;
}

.app {
  display: grid;
  grid-template-rows: 34px 1fr;
  grid-gap: 7px;
  background-color: var(--main-bg-color);
}
